
<h1>Task Board Break Down</h1>
<div>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       Change Project <span class="caret"></span>
    </button>
      <ul class="dropdown-menu" role="menu">
        <% @active_task_boards.each do |active_task_board|-%>
          <li><a class="m" data-name="<%= active_task_board.name%>" data-id="<%= active_task_board.stripe_id%>"><%= active_task_board.name%></a></li>
        <% end -%>
        <li><a class="m" value="something" href="#">somthing</a></li>

      </ul>
  </div>
  <div id="mbars">
  </div>
</div>
